@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
body {
  font-family: 'Montserrat', sans-serif;
  background: #333;
  color: #666666; }

p {
  font-weight: 200; }

a {
  color: #4b4b4d; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.3;
  font-weight: 100;}

.btn, .btn:hover, a.btn{
  text-transform: uppercase;
  background-color: #ed3237;
  border-color: #ed3237;
  text-decoration: none;
}

.navbar {
  background: #fff;
  opacity: 0.98;
  border-bottom: #f8f8f8 1px solid; }


  #home-section .home-inner {
    padding-top: 80px;
    padding-bottom: 50px;
    background-size: cover;
    margin-top: 67px;
    height:524px;
    color: #fff; }
    .carousel-1 {
      background: url("../images/carousel-bg-1.jpg") #fff;
    }
    .carousel-2 {
      background: url("../images/carousel-bg-2.jpg") #fff;
    }
    .carousel-3 {
      background: url("../images/carousel-bg-3.jpg") #fff;
    }
    #home-section .home-inner .h4 {
      font-weight: 400; }
    .home-inner a {
      color: #fff;
      text-decoration: underline; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#intro-head-section {
  padding-top: 40px;
  background: url("../images/bg-section-1b.jpg") #fff top center no-repeat;
  background-size: cover;
  height: 570px;
  color: #2c2c2c; }

  #intro-section {
    padding-bottom: 50px;
    background-color: #fff;}

.product-col-1, .product-col-2, .product-col-3 {
   font-size: 14px;
   font-style: italic;
   height: 100%;
   padding: 3rem;
}

.product-col-1 p, .product-col-2 p, .product-col-3 p{
   font-weight:400;
}

.icn-feature {
  width: 230px; }

 .product-col-1 {
    background-color: #efebeb;
    color: #666;
 }

 .product-col-1 .btn-primary{
    font-style: normal;
 }

 .product-col-2 {
    background-color: #ed3237;
 }

 .product-col-2 .btn-primary{
    background-color: #000;
    border-color: #000;
    font-style: normal;
 }

 .product-col-3 {
    background-color: #000;
    color: #fff;
 }

 .product-col-3 .btn-primary {
    background-color: #efebeb;
    border-color: #efebeb;
    color: #666;
    font-style: normal;
 }

#explore-head-section {
  padding-top: 40px;
  padding-bottom: 50px;
  background: url("../images/bg-section-1a.jpg") #fff 0 bottom no-repeat;
  background-size: contain;
  color: #2c2c2c; }

#explore-section {
  padding-bottom: 70px;
  background: url("../images/bg-section-2.jpg") -162px 0 no-repeat;
  background-size: cover;
  background-color: #b6b6b7 !important;
  color: #2c2c2c; }

#create-head-section {
  padding-bottom: 70px;
  background: url("../images/bg-section-3.jpg") 0 0 no-repeat;
  background-size: cover;
  background-color: #b6b6b7 !important;
  color: #2c2c2c; }

#about-section {
  background-color: #f8f8f8;
  padding-top: 50px;
  padding-bottom: 50px; }

#contact-section {
  background: url("../images/bg-section-4.jpg") 0 0 no-repeat;
  background-size: cover;
  background-color: #b6b6b7 !important;
  color: #2c2c2c;
  padding-top: 10px; }
  #contact-section a {
    text-decoration: underline; }

#main-footer {
  background-color: #000;
  font-size: .7rem; }

.logo-rattlesoft img {
  height: 40px;
  padding: 0; }

.logo-carbonfoundry img {
  height: 7rem; }

.col-info {
  margin-top: 6rem; }

.mb-8 {
  margin-bottom: 2rem;
}
